
.newsletter {
    display: flex;
    flex-direction: column;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;

    &__box {
        color: $social-media-color;
        height: 50px;
        width: 358px;
        padding-left: 16px;
        background-color: transparent;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 1.875;
        width: 200px;
        height: 50px;
        letter-spacing: 0.06em;
        margin-left: 12px;
        font-weight: 700;
        color: $button-color;
        background-color: $main-color;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }

    &__svg {
        display: inline-block;
        margin-left: 24px;
        fill: $button-color;
    }
}

.news-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}