.section--gray {
    background-color: #f5f4fa;
}

.job {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 36px;
    line-height: 1.16;
    gap: 30px;
    padding-left: 15px;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
       padding-left: 0;
    }
    @include desktop {
       flex-direction: row;
       flex-wrap: nowrap;
        padding-left: 15px;
    }

    &__bg {
        background-color: $button-color;
        padding: 30px 0px;
    }

    &__card {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &__social-media {
        display: flex;
        fill: $svg-color;
        gap: 10px;
        justify-content: center;
        margin-top: 16px;
        transition: background-color 250ms ease, fill 250ms ease;
    }
    &__svg {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        fill: $svg-color;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__social-media a:hover,
    &__social-media a:focus {
        background-color: $main-color;
        fill: $button-color;
    }

    &__worker {
        color: $nav-item-color;
        display: block;
        font-size: 16px;
        line-height: 1.18;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
    }

    &__position {
        display: block;
        color: $contact-item-header-color;
        font-size: 16px;
        line-height: 1.18;
    }

    &__img {
        display: block;
        height: auto;
        width: 100%;
    }
}

.title {
    color: $nav-item-color;
    text-align: center;
    font-size: 36px;
    line-height: 1.16;
    padding-right: 15px;
    padding-bottom: 44px;
    padding-left: 15px;
}
