.menu {
    position: fixed;
    list-style: none;
    opacity: 0;
    inset: 0;
    background-color: $button-color;
    padding: 0 32px;
    margin: 0 auto;
    max-width: 480px;
    max-height: 726px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    font-weight: 500px;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap: 36px;
        margin-bottom: 200px;
    }

    &__nav {
        color: $menu-link-color;
        text-decoration: none;
        line-height: 46px;
        font-size: 40px;
    }

    &__nav:hover {
        color: $main-color;
    }

    &__tel {
        color: $main-color;
        text-decoration: none;
        font-size: 24px;
    }

    &__mail {
        color: $menu-link-color;
        text-decoration: none;
        font-size: 24px;
    }

    &__nav:hover {
        color: $main-color;
    }

    &__media {
        display: flex;
      margin-top: 64px;
        margin-bottom: 48px;
        gap: 20px;
    }

    &__social {
        display: inline-block;
        color: $main-color;
        letter-spacing: 0.02em;
        text-decoration: none;
        font-size: 18px;
    }

    &__toggle {
        display: flex;
        color: $menu-link-color;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;

        @include tablet {
            display: none;
        }
    }

    &__toggle svg:hover,
    &__toggle svg:focus {
        background-color: $main-color;
        fill: $button-color;
    }

    &__icon {
        margin-top: 21px;
    }
}

.menu.is-open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
