

.order-box {
    display: flex;
    background: $button-order-color;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url('../images/img-team.jpg');
    background-position: center;
    background-repeat: no-repeat;
    max-width: 480px;

    &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    &__heading {
        color: $button-color;
        font-size: 44px;
        line-height: 1.36;
        padding-top: 106px;
        padding-right: 252px;
        padding-left: 252px;
        text-align: center;
    }

    &__btn {
        width: 200px;
        height: 50px;
        color: $button-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: $main-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin-top: 30px;
        margin-bottom: 106px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
