.order-box {
    display: flex;
    
    background: $button-order-color;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url('../../images/img-team.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../../images/img-team-2.jpg');
    }

    @include tablet {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url('../../images/img-team-tablet.jpg');

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url('../../images/img-team-tablet-2.jpg');
        }
    }

    @include desktop {
        padding: 90px;
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url('../../images/img-team-desktop.jpg');
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url('../../images/img-team-desktop-2.jpg');
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__heading {
        color: $button-color;
        font-size: 26px;
        line-height: 1.36;
        padding-top: 118px;
        padding-right: 58px;
        padding-left: 57px;
        text-align: center;

        @include tablet {
            padding-top: 118px;
            text-align: center;
        }

        @include desktop {
            font-size: 44px;
            padding-top: 106px;
        }
    }
    &__btn {
        width: 200px;
        height: 50px;
        color: $button-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: $main-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin-top: 30px;
        margin-bottom: 118px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
