ul {
    list-style: none;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: $button-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

img,
svg {
    vertical-align: middle;
}

.container {
    width: 100%;
    padding: 0px 15px 0px 15px;
    margin: 0 auto;

}

.section {
    padding: 94px 0px;
   
}

*:focus {
    outline: none;
}
