    $nav-item-color: #212121;
    $contact-item-header-color: #757575;
    $main-color: #2196f3;
    $button-color: #ffffff;
    $footer-color: #75757580;
    $social-media-color: #ffffff99;
    $menu-link-color: #000000;
    $button-order-color: #2f303a;
    $svg-color: #afb1b8;